.entireCol{
    height: 340px;
    background-color: whitesmoke;
    color: black
}
.event1{
    margin-top: (4.166667% * 10);
    height: ((12-10) * 4.16667%);
    background-color: chartreuse;
}
.event2{
    margin-top: (4.166667% * 18);
    height: ((22-18) * 4.16667%);
    background-color: chartreuse;
}
th{
    background-color: #069;
    border: 1px solid #1d1d1b;
}
td{
    background-color: whitesmoke;
    border: 1px solid #1d1d1b;
    
}
.date{
    background-color: whitesmoke;
    border-bottom: 1px solid #1d1d1b;
    height: 20px;
}
.time{
    padding-top: 2 * 4.08%;
    height: 320px;

}
.time > p {
    height: 2* 4.08%;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #069;
}
