<h2>Kalender</h2>
<table>
    <!--Row 0 Start-->
    <tr>
        <th scope="col" style="width: 5%;"><h3>Uhrzeit</h3></th>
        <th scope="col" style="width: 10%;"><h3>{{weekDay0}}</h3></th>
        <th scope="col" style="width: 10%;"><h3>{{weekDay1}}</h3></th>
        <th scope="col" style="width: 10%;"><h3>{{weekDay2}}</h3></th>
        <th scope="col" style="width: 10%;"><h3>{{weekDay3}}</h3></th>
        <th scope="col" style="width: 10%;"><h3>{{weekDay4}}</h3></th>
        <th scope="col" style="width: 10%;"><h3>{{weekDay5}}</h3></th>
        <th scope="col" style="width: 10%;"><h3>{{weekDay6}}</h3></th>
    </tr>

    <!--Row 1 Start-->
    <tr>
        <td>
            <div class="entireCol">
                Uhr - Column
            </div>
        </td>
        <td>
            <div class="entireCol">
                <div class="date">
                    {{date0}}
                </div>
                <div class=event1>
                    10:00 - 12:00
                </div>
                <div class=event2>
                    18:00 - 22:00
                </div>

            </div>
        </td>
        <td>
            <div class="entireCol">
                <div class="date">
                    {{(date1)}}
                </div>
            </div>
        </td>
        <td>
            <div class="entireCol">
                <div class="date">
                    {{date2}}
                </div>
            </div>
        </td>
        <td>
            <div class="entireCol">
                <div class="date">
                    {{date3}}
                </div>
            </div>
        </td>
        <td>
            <div class="entireCol">
                <div class="date">
                    {{date4}}
                </div>
            </div>
        </td>
        <td>
            <div class="entireCol">
                <div class="date">
                    {{date5}}
                </div>
            </div>
        </td>
        <td>
            <div class="entireCol">
                <div class="date">
                    {{date6}}
                </div>
            </div>
        </td>



    </tr>

    
</table>
