.layout{
    display: grid;
    grid-template-columns: [column1-start] 74vw [column1-end column2-start] 24vw [column2-end column3-start] 74vw [column3-end];
    grid-template-rows: auto;

    grid-gap: 1rem;
}
.layout > div{

    height: 45vh;
    background-color: #1d1d1b;
    border-radius: 1rem;
    text-align: center;
    color: white;
}
.header{
    text-align: center;
}
.top{


}



.bottom{
    margin-top: 2fr;
    display: grid;
    grid-template-columns: [column1-start] 75% [column1-end column2-start] 24% [column2-end];
    grid-gap: 1rem;


}
.bottom > div{
    background: #1d1d1b;
    padding: 1.5rem;
    border-radius: 1rem;
    
    color: white;
    height: 47vh;

}
