.layout{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: 1rem;
}
.layout > div{
    height: 45vh;
}
.header{
    text-align: center;
}
.top{


}



.bottom{
    margin-top: 2fr;
    display: grid;
    grid-template-columns: [column1-start] 75% [column1-end column2-start] 24% [column2-end];
    grid-gap: 1rem;


}
.bottom > div{
    background: #1d1d1b;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    color: white;
    height: 47vh;

}
