.side{
    
    
}
.deadlines{
    width: 40vh;
}

.counter{
    float: left;
    border: 1px solid whitesmoke;
    width: 10vh;
    height: 13vh;
    background-color: whitesmoke;
    color: black;
    
}
.item{

    margin-right: 0%;
    margin-left: 10vh;
    border: 1px solid #069;
    background-color: #069;
    height: 13vh;
    width: 30vh;

}
