.entireCol{
    height: 340px;
    background-color: whitesmoke;
    color: black
}
.event1{
    margin-top: (4.166667% * 10);
    height: ((12-10) * 4.16667%);
    background-color: chartreuse;
}
.event2{
    margin-top: (4.166667% * 18);
    height: ((22-18) * 4.16667%);
    background-color: chartreuse;
}