/* You can add global styles to this file, and also import other style files */
html { background-color: black; }
h3 {
    font-family: 'Open Sans', sans-serif;
  }
h2 {

    color:#069;
    font-family: 'Open Sans', sans-serif;

}
a{
    font-family: 'Open Sans', sans-serif;
}
ul, li {
    margin: 0; padding: 0;
}